---
http_interactions:
- request:
    method: post
    uri: https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/v1/analyze?features=concepts&text=---%0Atitle:%20The%20Skull%20Beneath%20the%20Skin1%0Apublished:%20true%0Atags:%20%5B%22discuss%22%5D%0Adate:%20%0Aseries:%20%0Acanonical_url:%20%0A---%0A%0AFive%20dollar%20toast%20gentrify%20sustainable.%20Chia%20microdosing%20banh%20mi%20vegan%20wayfarers%20occupy.%20Asymmetrical%20venmo%20yuccie%20fingerstache%20pug%20kickstarter%20tofu%20mumblecore.%0A%0AForage%20hella%20knausgaard%20migas%20cleanse%20xoxo%20artisan%20flannel.%0A%0A&version=2019-07-12
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=733cc26a-425d-4ce7-ae57-08551198e0c3,parent_id=5a587812-e0ef-485e-9484-5d14a8f9ee40,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dp-Watson-Tran-Id:
      - 92ed44c6bfd1950235f47a9362983f31
      X-Global-Transaction-Id:
      - 92ed44c6bfd1950235f47a9362983f31
      X-Edgeconnect-Midmile-Rtt:
      - '18'
      X-Edgeconnect-Origin-Mex-Latency:
      - '112'
    body:
      encoding: UTF-8
      string: |-
        {
          "usage": {
            "text_units": 1,
            "text_characters": 333,
            "features": 1
          },
          "language": "en",
          "concepts": [
            {
              "text": "Vietnamese cuisine",
              "relevance": 0.892544,
              "dbpedia_resource": "http://dbpedia.org/resource/Vietnamese_cuisine"
            },
            {
              "text": "Skull",
              "relevance": 0.886784,
              "dbpedia_resource": "http://dbpedia.org/resource/Skull"
            },
            {
              "text": "Skull and Bones",
              "relevance": 0.862208,
              "dbpedia_resource": "http://dbpedia.org/resource/Skull_and_Bones"
            },
            {
              "text": "Soy milk",
              "relevance": 0.82944,
              "dbpedia_resource": "http://dbpedia.org/resource/Soy_milk"
            }
          ]
        }
  recorded_at: Thu, 14 May 2020 23:54:33 GMT
recorded_with: VCR 5.1.0
