---
http_interactions:
- request:
    method: post
    uri: https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/v1/analyze?features=concepts&url=https://dev.to/vinaybommana7/django-mysql-how-to-port-your-web-application-from-sqlite-to-mysql-3jnl&version=2019-07-12
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=a776f552-55ae-43ec-b938-7259fe643e5e,parent_id=b24d2e67-3d36-4823-97af-4086a4ed3c51,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dp-Watson-Tran-Id:
      - fe0dc0172d605dc762af5df39be323e9
      X-Global-Transaction-Id:
      - fe0dc0172d605dc762af5df39be323e9
      X-Edgeconnect-Midmile-Rtt:
      - '24'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1340'
    body:
      encoding: UTF-8
      string: |-
        {
          "usage": {
            "text_units": 1,
            "text_characters": 2575,
            "features": 1
          },
          "retrieved_url": "https://dev.to/vinaybommana7/django-mysql-how-to-port-your-web-application-from-sqlite-to-mysql-3jnl",
          "language": "en",
          "concepts": [
            {
              "text": "SQL",
              "relevance": 0.980492,
              "dbpedia_resource": "http://dbpedia.org/resource/SQL"
            },
            {
              "text": "PHP",
              "relevance": 0.711701,
              "dbpedia_resource": "http://dbpedia.org/resource/PHP"
            },
            {
              "text": "Relation",
              "relevance": 0.534148,
              "dbpedia_resource": "http://dbpedia.org/resource/Relation_(database)"
            },
            {
              "text": "Relational model",
              "relevance": 0.532032,
              "dbpedia_resource": "http://dbpedia.org/resource/Relational_model"
            },
            {
              "text": "Relational database",
              "relevance": 0.492704,
              "dbpedia_resource": "http://dbpedia.org/resource/Relational_database"
            },
            {
              "text": "Database",
              "relevance": 0.488813,
              "dbpedia_resource": "http://dbpedia.org/resource/Database"
            },
            {
              "text": "Data",
              "relevance": 0.457908,
              "dbpedia_resource": "http://dbpedia.org/resource/Data"
            },
            {
              "text": "Data modeling",
              "relevance": 0.455456,
              "dbpedia_resource": "http://dbpedia.org/resource/Data_modeling"
            }
          ]
        }
  recorded_at: Tue, 12 May 2020 22:42:31 GMT
recorded_with: VCR 5.1.0
